<h1>Sign up</h1>

<form id="form" method="POST" action="/auth/signup">

  <div class="field" >
    <label>Username</label>
    <input type="text" name="username" id="signup-username"/>
  </div>

  <div class="field" >
    <label>Password</label>
    <input type="password" name="password"/> {{!-- type="password" hiddes password when typing --}}
  </div>

  <div class="field submit">
    <button type="submit">Save</button>
    {{#if messages.length}}
    <ul class="validation">
      {{#each messages}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    {{/if}}
  </div>
</form>