<div class="home-container">
  <div class="form-wrapper">
    <form action="/movies" class="form-group home-form" method="GET">
      <button class="btn btn-primary home-search" type="submit">Search for a Movie</button>
    </form>
  </div>
</div>
